mixin colBtn(data)
  .collections__categories
    section.icollections__btns
      if data === 'rome'
        button(type="button", data-type="rome", data-text="Рим").icollections__btn.js-icollections-toslide.active Рим
      else
        button(type="button", data-type="rome", data-text="Рим").icollections__btn.js-icollections-toslide Рим

      if data === 'sicily'
        button(type="button", data-type="sicily", data-text="Сицилия").icollections__btn.js-icollections-toslide.active Сицилия
      else
        button(type="button", data-type="sicily", data-text="Сицилия").icollections__btn.js-icollections-toslide Сицилия

      if data === 'milan'
        button(type="button", data-type="milan", data-text="Милан").icollections__btn.js-icollections-toslide.active Милан
      else
        button(type="button", data-type="milan", data-text="Милан").icollections__btn.js-icollections-toslide Милан

      if data === 'verona'
        button(type="button", data-type="verona", data-text="Верона").icollections__btn.js-icollections-toslide.active Верона
      else
        button(type="button", data-type="verona", data-text="Верона").icollections__btn.js-icollections-toslide Верона

      if data === 'venice'
        button(type="button", data-type="venice", data-text="Венеция").icollections__btn.js-icollections-toslide.active Венеция
      else
        button(type="button", data-type="venice", data-text="Венеция").icollections__btn.js-icollections-toslide Венеция  

      if data === 'turin'
        button(type="button", data-type="turin", data-text="Турин").icollections__btn.js-icollections-toslide.active Турин
      else
        button(type="button", data-type="turin", data-text="Турин").icollections__btn.js-icollections-toslide Турин   

      if data === 'florence'
        button(type="button", data-type="florence", data-text="Флоренция").icollections__btn.js-icollections-toslide.active Флоренция
      else
        button(type="button", data-type="florence", data-text="Флоренция").icollections__btn.js-icollections-toslide Флоренция  

      if data === 'bologna'
        button(type="button", data-type="bologna", data-text="Болонья").icollections__btn.js-icollections-toslide.active Болонья
      else
        button(type="button", data-type="bologna", data-text="Болонья").icollections__btn.js-icollections-toslide Болонья 

      if data === 'naples'
        button(type="button", data-type="naples", data-text="Неаполь").icollections__btn.js-icollections-toslide.active Неаполь
      else
        button(type="button", data-type="naples", data-text="Неаполь").icollections__btn.js-icollections-toslide Неаполь 