footer.footer
  section.container
    .footer__main
      p.footer__copy © 2010—2018 ООО «Верлони»
      ul.footer__socials
        li.footer__socials-item
          a(href="#", data-type="fb").footer__socials-href
        li.footer__socials-item
          a(href="#", data-type="yt").footer__socials-href
        li.footer__socials-item
          a(href="#", data-type="inst").footer__socials-href
        li.footer__socials-item
          a(href="#", data-type="vk").footer__socials-href
        li.footer__socials-item
          a(href="#", data-type="od").footer__socials-href
    a(href="https://www.dextra.ru/", target="blank").footer__dev Разработка сайта: 
      span Интернет-агентство Dextra