header.header
  a(href="#").header__logo
    img(src="img/logo.png", alt="").header__logo-img
  nav.header__menu
    ul.header__menu-list
      li.header__menu-item
        a(href="#").header__menu-href.active Бренд
      li.header__menu-item
        a(href="#").header__menu-href Коллекции
      li.header__menu-item
        a(href="#").header__menu-href Особенности
      li.header__menu-item
        a(href="#").header__menu-href Новости
      li.header__menu-item
        a(href="#").header__menu-href Контакты
      li.header__menu-item
        a(href="#").header__menu-href.header__menu-href_red Купить
  button(type="button", aria-label="открыть мобильное меню").burger__button.js-burger
    span.burger__button-meat
section.burger__popup
  nav.burger__menu
    ul.burger__menu-list
      li.burger__menu-item.burger__menu-item_mobile
        a(href="#").burger__menu-logo
          img(src="img/logo.png", alt="")
      li.burger__menu-item
        a(href="#").burger__menu-href.active Бренд
      li.burger__menu-item
        a(href="#").burger__menu-href Коллекции
      li.burger__menu-item
        a(href="#").burger__menu-href Особенности
      li.burger__menu-item
        a(href="#").burger__menu-href Новости
      li.burger__menu-item
        a(href="#").burger__menu-href Контакты
      li.header__menu-item
        a(href="#").header__menu-href.header__menu-href_red Купить