header.header
  span.header__shadow
  a(href="#").header__logo
    img(src="img/logo.png", alt="").header__logo-img
  nav.header__menu
    ul.header__menu-list
      li.header__menu-item
        a(href="#").header__menu-href.active Бренд
      li.header__menu-item
        a(href="#").header__menu-href Коллекции
        ul.header__menu-sublist
          li.header__menu-sublist-item
            a(href="#").header__menu-sublist-href.header__menu-sublist-href_active Болонья
          li.header__menu-sublist-item
            a(href="#").header__menu-sublist-href Венеция
          li.header__menu-sublist-item
            a(href="#").header__menu-sublist-href Верона
          li.header__menu-sublist-item
            a(href="#").header__menu-sublist-href Милан
          li.header__menu-sublist-item
            a(href="#").header__menu-sublist-href Неаполь
          li.header__menu-sublist-item
            a(href="#").header__menu-sublist-href Рим
          li.header__menu-sublist-item
            a(href="#").header__menu-sublist-href Сицилия
          li.header__menu-sublist-item
            a(href="#").header__menu-sublist-href Турин
          li.header__menu-sublist-item
            a(href="#").header__menu-sublist-href Флоренция
      li.header__menu-item
        a(href="#").header__menu-href Особенности
      li.header__menu-item
        a(href="#").header__menu-href Новости
      li.header__menu-item
        a(href="#").header__menu-href Контакты
      li.header__menu-item
        a(href="#").header__menu-href.header__menu-href_red Купить
  button(type="button", aria-label="открыть мобильное меню").burger__button.js-burger
    span.burger__button-meat
section.burger__popup
  nav.burger__menu
    ul.burger__menu-list
      li.burger__menu-item
        a(href="#").burger__menu-href.active Бренд
      li.burger__menu-item
        a(href="#").burger__menu-href Коллекции
        ul.burger__menu-sublist
          li.burger__menu-sublist-item
            a(href="#").burger__menu-sublist-href.burger__menu-sublist-href_active Болонья
          li.burger__menu-sublist-item
            a(href="#").burger__menu-sublist-href Венеция
          li.burger__menu-sublist-item
            a(href="#").burger__menu-sublist-href Верона
          li.burger__menu-sublist-item
            a(href="#").burger__menu-sublist-href Милан
          li.burger__menu-sublist-item
            a(href="#").burger__menu-sublist-href Неаполь
          li.burger__menu-sublist-item
            a(href="#").burger__menu-sublist-href Рим
          li.burger__menu-sublist-item
            a(href="#").burger__menu-sublist-href Сицилия
          li.burger__menu-sublist-item
            a(href="#").burger__menu-sublist-href Турин
          li.burger__menu-sublist-item
            a(href="#").burger__menu-sublist-href Флоренция
      li.burger__menu-item
        a(href="#").burger__menu-href Особенности
      li.burger__menu-item
        a(href="#").burger__menu-href Новости
      li.burger__menu-item
        a(href="#").burger__menu-href Контакты
      li.burger__menu-item
        a(href="#").burger__menu-href.burger__menu-href_red Купить