span.progress.js-progress

.locker
  img(src="img/locker.png", alt="").locker__img
  p.locker__text Переверните телефон

script.
  paceOptions = {
    minTime: 2000
  }
script(type="text/javascript", src="static/js/vendor.js")
script(type="text/javascript", src="static/js/script.js")
script(type="text/javascript", src="static/js/dev.js")