doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    section.content.content_bgfixed(style="background-image: url('img/card-rome.jpg')")
      section.card
        section.card__item
          p.card__name Рим
          .card__item-wrap
            .container.js-side-container
              .card__side.js-side-parent
                nav.card__nav.js-card-nav
                  button(type="button").card__nav-mobile-btn.js-card-nav-btn
                  ul.card__nav-list
                    li.card__nav-item.card__nav-item--open-sublist
                      button(type="button").card__nav-item-btn.js-card-toggle-sublist
                      a(href="#").card__nav-href.card__nav-href--active Сковороды
                      ul.card__nav-sublist
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref.card__nav-subhref--active Рим
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Венеция
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Турин
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Милан
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Сицилия
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Болонья
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Верона
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Флоренция
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Пьемонт
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Каррара
                    li.card__nav-item
                      button(type="button").card__nav-item-btn.js-card-toggle-sublist
                      a(href="#").card__nav-href Кастрюли
                      ul.card__nav-sublist
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Кастрюля
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Кастрюля 2
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Кастрюля 3
                    li.card__nav-item
                      button(type="button").card__nav-item-btn.js-card-toggle-sublist
                      a(href="#").card__nav-href Крышки
                      ul.card__nav-sublist
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Крышка
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Крышка 2
                        li.card__nav-subitem
                          a(href="#").card__nav-subhref Крышка 3
              .card__item-row
                section.card__top
                  h1 Рим
                  section.breadcrumbs
                    a(href="#").breadcrumbs__href Главная
                    span.breadcrumbs__delim / 
                    a(href="#").breadcrumbs__href Каталог
                    span.breadcrumbs__delim / 
                    a(href="#").breadcrumbs__href Сковороды
                    span.breadcrumbs__delim /
                section.card__chars-over
                  main.card__gallery
                    .card__gallery-overimg.js-card-fancy
                      img(src="img/card-gallery1.png").card__gallery-mainimg.js-card-mainimg
                    .card__gallery-thumbs.js-card-thumbs.swiper-container
                      .swiper-wrapper
                        .swiper-slide
                          button(type="button", data-src="img/card-gallery1.png", style="background-image: url('img/card-thumb1.jpg')").card__gallery-thumb.active.js-card-thumb
                        .swiper-slide
                          button(type="button", data-src="img/icol-dish3.png", style="background-image: url('img/card-thumb2.jpg')").card__gallery-thumb.js-card-thumb
                        .swiper-slide
                          button(type="button", data-src="img/icol-dish3.png", style="background-image: url('img/card-thumb3.jpg')").card__gallery-thumb.js-card-thumb
                        .swiper-slide
                          button(type="button", data-src="img/icol-dish3.png", style="background-image: url('img/card-thumb4.jpg')").card__gallery-thumb.js-card-thumb
                        .swiper-slide
                          button(type="button", data-src="img/icol-dish3.png", style="background-image: url('img/card-thumb5.jpg')").card__gallery-thumb.js-card-thumb
                      .swiper-buttons
                        .swiper-button-prev
                        .swiper-button-next
                    .card__gallery-hidden
                      a(href="img/card-gallery1.png" data-fancybox="group").card__gallery-href
                        img(src="img/card-gallery1.png").card__gallery-img
                      a(href="img/icol-dish3.png" data-fancybox="group").card__gallery-href
                        img(src="img/icol-dish3.png").card__gallery-img
                      a(href="img/icol-dish3.png" data-fancybox="group").card__gallery-href
                        img(src="img/icol-dish3.png").card__gallery-img
                      a(href="img/icol-dish3.png" data-fancybox="group").card__gallery-href
                        img(src="img/icol-dish3.png").card__gallery-img
                      a(href="img/icol-dish3.png" data-fancybox="group").card__gallery-href
                        img(src="img/icol-dish3.png").card__gallery-img
                  aside.card__right
                    .card__size
                      .card__size-item
                        .card__size-item-overimg
                          img(src="img/card-size.png" alt="").card__size-item-img
                        p.card__size-item-art Артикул:
                          span VL-FP1D24N01
                        p.card__size-item-type Блинная
                      .card__size-item
                        .card__size-item-overimg
                          img(src="img/card-size2.png" alt="").card__size-item-img
                        p.card__size-item-art Артикул:
                          span VL-FP1D24N02
                      .card__size-item
                        .card__size-item-overimg
                          img(src="img/card-size3.png" alt="").card__size-item-img
                        p.card__size-item-art Артикул:
                          span VL-FP1D24N05
                      .card__size-item
                        .card__size-item-overimg
                          img(src="img/card-size4.png" alt="").card__size-item-img
                        p.card__size-item-art Артикул:
                          span VL-FP1D24N09
                    .card__chars
                      p.card__chars-title Характеристики
                      .card__chars-rows
                        .card__chars-row
                          span.card__chars-row-title Коллекция:
                          span.card__chars-row-value 
                            a(href="#") Рим
                        .card__chars-row
                          span.card__chars-row-title Вид:
                          span.card__chars-row-value Сковорода
                        .card__chars-row
                          span.card__chars-row-title Материал:
                          span.card__chars-row-value Алюминий штампованный
                        .card__chars-row
                          span.card__chars-row-title Покрытие:
                          span.card__chars-row-value Антипригарное покрытие  Puflon, 3 слоя , черное
                        .card__chars-row
                          span.card__chars-row-title Дно:
                          span.card__chars-row-value Не индукционное
                        .card__chars-row
                          span.card__chars-row-title Внешний:
                          span.card__chars-row-value Цвет черный
                        .card__chars-row
                          span.card__chars-row-title Ручка:
                          span.card__chars-row-value Бакелит
                        .card__chars-row
                          span.card__chars-row-title Диаметр:
                          span.card__chars-row-value 24 см / 26 см / 28 см
                  .card__text Если Вы убеждены, что умение готовить – врожденный дар, который всегда при Вас. Вкус блюда зависит от мастерства хозяйки.
        section.card__others
          section.card__others-styled
            span(data-koef="-.08").pasta.pasta_type1.pasta_elem5.js-async-scroll
          .container
            p.card__others-title С этим товаром также выбирают
            .card__others-row
              .card__others-col
                a(href="#").card__others-imgover
                  img(src="img/card-other1.png").card__others-img
                a(href="#").card__others-href Флоренция
                p.card__others-subtitle Для всех видов плит
              .card__others-col
                a(href="#").card__others-imgover
                  img(src="img/card-other1.png").card__others-img
                a(href="#").card__others-href Турин
                p.card__others-subtitle Только для индукционных плит
              .card__others-col
                a(href="#").card__others-imgover
                  img(src="img/card-other2.png").card__others-img
                a(href="#").card__others-href Рим
                p.card__others-subtitle Для всех видов плит

              .card__others-col
                a(href="#").card__others-imgover
                  img(src="img/card-other3.png").card__others-img
                a(href="#").card__others-href Сицилия
                p.card__others-subtitle Только для индукционных плит
        .card__toall-over
          a(href="#").card__toall 
            span.card__toall-text Весь каталог
            span.card__toall-dish1
            span.card__toall-dish2
            span.card__toall-dish3
    include layout/__footer
    include layout/__scripts
