doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    section.content
      section.container
        .collections
          aside.collections__side
            nav.card__nav.card__nav_collections.js-card-nav
              button(type="button").card__nav-mobile-btn.js-card-nav-btn
              ul.card__nav-list
                li.card__nav-item.card__nav-item--open-sublist
                  a(href="#").card__nav-href Сковороды
                  button(type="button").card__nav-item-btn.js-card-toggle-sublist
                  ul.card__nav-sublist
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref.card__nav-subhref--active Рим
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Венеция
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Турин
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Милан
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Сицилия
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Болонья
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Верона
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Флоренция
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Пьемонт
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Каррара
                li.card__nav-item
                  a(href="#").card__nav-href Кастрюли
                  button(type="button").card__nav-item-btn.js-card-toggle-sublist
                  ul.card__nav-sublist
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Кастрюля
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Кастрюля 2
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Кастрюля 3
                li.card__nav-item
                  a(href="#").card__nav-href Крышки
                  button(type="button").card__nav-item-btn.js-card-toggle-sublist
                  ul.card__nav-sublist
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Крышка
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Крышка 2
                    li.card__nav-subitem
                      a(href="#").card__nav-subhref Крышка 3
          
          .collections__main
            h1 Рим
            section.breadcrumbs
              a(href="#").breadcrumbs__href Главная
              span.breadcrumbs__delim /
              a(href="#").breadcrumbs__href Коллекции
              span.breadcrumbs__delim /
            ul.collections__list
              li.collections__item.collections__item_elem
                a(href="#").collections__elem-imgover
                  img(src="img/col-elem1.png").card__others-img
                a(href="#").card__others-href Сковорода
                p.card__others-subtitle Сковорода с уникальным внешним цветным прозрачным покрытием, антипригарное покрытие, ручка soft touch, индукционное дно
              li.collections__item.collections__item_elem
                a(href="#").collections__elem-imgover
                  img(src="img/col-elem2.png").card__others-img
                a(href="#").card__others-href Кастрюля
                p.card__others-subtitle Уникальное внешнее покрытие, имитирующее камень, прессованный алюминий, крышка из жаропрочного стекла с отверстием для выпуска пара, бакелитовые ручки
              li.collections__item.collections__item_elem
                a(href="#").collections__elem-imgover
                  img(src="img/col-elem3.png").card__others-img
                a(href="#").card__others-href Крышка
                p.card__others-subtitle Крышка из жаропрочного стекла с отверстием для выпуска пара, бакелитовая ручка
              li.collections__item.collections__item_elem
                a(href="#").collections__elem-imgover
                  img(src="img/col-elem2.png").card__others-img
                a(href="#").card__others-href Кастрюля
                p.card__others-subtitle Уникальное внешнее покрытие, имитирующее камень, прессованный алюминий, крышка из жаропрочного стекла с отверстием для выпуска пара, бакелитовые ручки
              li.collections__item.collections__item_elem
                a(href="#").collections__elem-imgover
                  img(src="img/col-elem3.png").card__others-img
                a(href="#").card__others-href Крышка
                p.card__others-subtitle Крышка из жаропрочного стекла с отверстием для выпуска пара, бакелитовая ручка
              li.collections__item.collections__item_elem
                a(href="#").collections__elem-imgover
                  img(src="img/col-elem1.png").collections__elem-img
                a(href="#").collections__elem-href Сковорода
                p.collections__elem-subtitle Сковорода с уникальным внешним цветным прозрачным покрытием, антипригарное покрытие, ручка soft touch, индукционное дно

    include layout/__footer
    include layout/__scripts