doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    section.content
      section.container.container_center
        h1 Контактная информация
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim /
      section.container
        p.contacts__subtitle На данный момент с нами можно связаться только используя форму ниже. Обратите внимание, поля со звездочкой 
          span * 
          |  – обязательны для заполнения.
        form.contacts__form
          .contacts__row.contacts__row_flex
            .contacts__col
              .contacts__row
                label.contacts__label ФИО 
                  span *
                input(type="text", data-req="req").contacts__input
              .contacts__row
                label.contacts__label Email 
                  span *
                input(type="text", data-req="req", data-type="email").contacts__input
              .contacts__row
                label.contacts__label Город 
                  span *
                input(type="text", data-req="req").contacts__input
            .contacts__col
              .contacts__row
                label.contacts__label Компания 
                input(type="text").contacts__input
              .contacts__row
                label.contacts__label Телефон 
                  span *
                input(type="text", data-req="req").contacts__input.js-phone
              .contacts__row
                label.contacts__label Тема обращения 
                  span *
                select.contacts__select.js-select(data-req="req", data-type="select")
                  option(value="-1", selected, disabled) 
                  option(value="1") Тема 1
                  option(value="2") Тема 2
                  option(value="3") Тема 3
                  option(value="4") Тема 4
          .contacts__row
            label.contacts__label Сообщение
              span *
            textarea(data-req="req").contacts__textarea
          .contacts__row.contacts__row_center
            .fakecheckbox
              input(type="checkbox", value="", name="agreement", checked)#agreement.fakecheckbox__truecheck
              label(for="agreement").fakecheckbox__label Я согласен с 
                a(href="#") политикой конфиденциальности
          .contacts__row.contacts__row_center
            button(type="submit").contacts__btn.btn.btn_red Отправить
          
            
    include layout/__footer
    include layout/__scripts