.card
  pt 9%
  @media $lDesktopSmall
    pt 2%
  @media $desktopMedium
    pt 0
  &__item
    &-wrap
      background-color #fff
      .container
        position relative
    &-row
      padding-left 245px
      padding-top 50px
      @media (min-width: 1400px)
        padding-left 300px
      @media (max-width: 1100px)
        padding-top 0
        padding-left 0
  &__nav
    position absolute
    left 60px
    top -139px
    width 187px
    background-color white
    box-shadow 0 5px 35px rgba(0, 0, 0, 0.1)
    padding 25px 30px
    transition left .4s
    z-index 3
    @media (min-width: 1400px)
      left 0
      width 240px
    @media (max-width: 1100px)
      position fixed
      left -200px
      top 158px
      padding 0
    &.show
      left 0
    &-mobile-btn
      display none
      position fixed
      right 0
      top 158px
      width 44px
      height 44px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAXVBMVEUAAADpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzfpNzf///+wtDYKAAAAHXRSTlMACvr16NabiGNMOBcC7d7dycG3rqSQenRVQS0lBK9Dxw4AAABoSURBVDjL7c+3DoAwDEXRFEog9N7C/38mb2RAOEwg4TvZ0hlswXmWpXHoJ2USBc45D2lNqyFLGq9jrSCrYRHAxJmAqjEWGzB1Zt5NEhuBNWTRzxtGGrvLGL+P91OPMD/4kQcZ3+MfdQDTwUYOjUvUVgAAAABJRU5ErkJggg==') no-repeat center #fff
      border none
      box-shadow 0 5px 35px rgba(0, 0, 0, 0.1)
      transition filter .4s
      &.active
        filter grayscale(100%)
      @media (max-width: 1100px)
        display block
    &-list
      @media (max-width: 1100px)
        padding 25px
        max-height calc(100vh - 158px)
        overflow-x hidden
        overflow-y auto
    &-item
      position relative
      margin-bottom 20px
      &:last-child
        margin-bottom 0
      &--open-sublist
        .card__nav-href:after
          transform rotate(-135deg)
        .card__nav-sublist
          margin 17px 0 21px
          max-height 400px
    &-href
      display block
      position relative
      padding-right 20px
      color black
      font-family ProximaNova
      font-size 18px
      font-weight 700
      line-height 22px
      @media (min-width: 1400px)
        font-size 20px
      &:after
        content ''
        display block
        position absolute
        right 2px
        top 6px
        width 5px
        height 5px
        border-right 1px solid #000
        border-bottom 1px solid #000
        transform rotate(45deg)
        transition transform .4s
    &-sublist
      max-height 0
      margin 0
      transition margin .6s, max-height .5s
      overflow hidden
    &-subitem
      margin-bottom 10px
      &:last-child
        margin-bottom 0
    &-subhref
      font-size 15px
      line-height 19px
      color black
      font-weight 400
      transition color .4s, font .4s
      @media (min-width: 1400px)
        font-size 17px
      &--active
        font-style italic
        color #3ba247
        font-weight 700
  &__name
    color white
    font-family RaleighBT
    text-align center
    fontify 300px 700 208px
    @media $lDesktopMedium
      fontify 200px 700 139px
    @media $desktopMedium
      dn()
  &__top
    margin-bottom 44px
    .breadcrumbs
      padding-left 2px
      margin-top -28px
      margin-bottom 0
    &-over
      padding 20px
      bgc white
      @media $desktopMedium
        padding 0
    &-row
      padding 0
    &-text
      fontify 18px 400 26px
      max-width 465px
      mt -5px
      @media $lDesktopMedium
        fontify 15px 400 23px
      @media $desktopMedium
        dn()
    &-handy
      font-family $handy
      fontify 18px 400 26px
      max-width 300px
      margin-right 0
      margin-left auto
      transform rotate(-15deg)
      margin 188px 46px 0 auto
      @media $desktopMax
        mt 10px
        mr 0
      @media $desktopMedium
        dn()
    &-img
      pos absolute
      t -143%
      l 50%
      max-width 120%
      transform translate(-50%)
      @media $lDesktopMax
        t -120%
      @media $lDesktopMedium
        t -95%
      @media $desktopMax
        t 0
        l 0
        transform none
        max-width 100%
        pos relative
        margin-top -130px
      @media $desktopMedium
        db()
        max-width 80%
        margin 0 auto
  &__info
    pt 9px
    flex-direction column
    &-title
      fontify 15px 400 17px
      mb 10px
      @media $lDesktopMedium
        fontify 13px 400 17px
    &-val
      fontify 36px 400 36px
      @media $lDesktopMedium
        fontify 30px 400 36px
    &-row
      & + &
        mt 27px
    &-col
      ib()
      & + &
        ml 30px
    &-series
      pos relative
      ib()
      &-current
        ib()
        cursor pointer
        color $red
        fontify 36px 400 29px
        border-bottom 1px dotted
        transition .7s border, .7s color
        @media $lDesktopMedium
          fontify 30px 400 26px
        &:hover
          border-color transparent
          color $green
      &-hover
        pos absolute
        z-index 1
        l calc(100% + 10px)
        t -30px
        box-shadow 2.5px 4.3px 35px rgba(0, 0, 0, 0.25)
        bgc white
        w 235px
        display flex
        flex-direction column
        padding 30px 40px
        visibility hidden
        opacity 0
        transition .7s visibility, .7s opacity, .7s left
        @media $lDesktopMedium
          t -35px
        &:before
          content ""
          pos absolute
          h 100%
          l -30px
          w 30px
          t 0
      &:hover &-hover
        l calc(100% + 30px)
        visibility visible
        opacity 1
      &-row
        overflow hidden
        pos relative
      &-href
        color black
        fontify 24px 400 40px
        pos relative
        @media $lDesktopMedium
          fontify 20px 400 40px
        &:before
          content attr(data-value)
          ib()
          pos relative
          l 0
          opacity 1
          transition .7s opacity, .7s left
        &:after
          content attr(data-value)
          ib()
          pos absolute
          l 100%
          fontify 39px 400 40px
          font-family $handy
          color $green
          opacity 0
          transition .7s opacity, .7s left
          @media $lDesktopMedium
            fontify 30px 400 40px
        &:hover
          &:before
            pos absolute
            l -100%
            opacity 0
          &:after
            pos relative
            l 0
            opacity 1
    &-colors
      ml -13px
      pt 5px
    &-color
      ib()
      cursor pointer
      ml 39px
      pos relative
      fontify 15px 400 15px
      border-bottom 1px dotted
      transition .7s border
      @media $lDesktopMedium
        fontify 13px 400 15px
      &:hover
        border-color transparent
      &.active
        color #888
        border-color transparent
      &-circle
        ib()
        pos absolute
        l -26px
        t 0
        t -3px
        size 20px
        border-radius 50%
  &__tasty
    bgc white
    padding 73px 0 26px
    @media $desktopMedium
      dn()
    &-styled
      pos relative
      z-index 1
      size 0
      margin 0 auto
    &-container
      max-width 1230px
      padding 0 30px
      margin 0 auto
      display flex
      @media $lDesktopMedium
        max-width 868px
    &-info
      width 580px
      mr 80px
      pt 26px
      @media $lDesktopMedium
        w 430px
        mr 0
        pr 100px
    &-imgover
      w calc(100% - 660px)
      @media $lDesktopMedium
        w calc(100% - 430px)
    &-img
      max-width 100%
    &-title
      fontify 48px 700 37px
      mb 40px
      @media $lDesktopMedium
        fontify 31px 700 37px
        mb 24px
    &-text
      fontify 18px 400 26px
      @media $lDesktopMedium
        fontify 15px 400 23px
  &__right
    w 41%
    pos relative
    @media $desktopMin
      w 100%
      margin-top 30px
    @media $LandscapeMin
      background none
      padding 0
  &__size
    display flex
    flex-wrap wrap
    margin 0 -10px 8px
    &-item
      width calc(25% - 20px)
      margin 0 10px 20px
      text-align center
      @media $PortraitMedium
        width calc(50% - 20px)
      &-overimg
        display flex
        align-items center
        justify-content center
        margin-bottom 13px
      &-img
        max-height 100%
        max-width 100%
      &-art
        color #888
        font-size 12px
        font-weight 400
        line-height 18px
        span
          display block
          color black
      &-type
        font-size 12px
        font-weight 400
        line-height 18px
        color black
  &__chars
    &-over
      bgc white
      display flex
      flex-wrap wrap
      align-items flex-start
      @media $desktopMin
        flex-direction column
    &-title
      fontify 48px 700 60px
      mb 28px
      @media $lDesktopMedium
        fontify 24px 700 30px
        margin-bottom 15px
    &-rows
      @media $desktopMin
        display flex
        flex-wrap wrap
        ml -20px
        w calc(100% + 20px)
    &-row
      display flex
      @media $desktopMax
        flex-direction column
      @media $desktopMin
        ml 20px
        w calc(25% - 20px)
        mb 25px
      @media $LandscapeMax
        w calc(50% - 20px)
      & + &
        mt 18px
        @media $desktopMin
          mt 0
      &-title
        w 130px
        fontify 18px 400 26px
        color #888
        @media $lDesktopMedium
          fontify 15px 400 23px
        @media $desktopMax
          w 100%
      &-value
        w calc(100% - 130px)
        fontify 18px 400 26px
        @media $lDesktopMedium
          fontify 15px 400 23px
        @media $desktopMax
          w 100%
        a:not([class])
          color #000000
          border-bottom 1px solid #000000
          &:hover
            border-bottom-color  transparent
  &__gallery
    display flex
    align-items center
    justify-content center
    pos relative
    w calc(59% - 40px)
    mr 40px
    height 600px
    padding 0 0 125px
    @media $lDesktopSmall
      height 510px
    @media $desktopMin
      w 100%
      height 430px
      mr 0
    @media $LandscapeMin
      padding-bottom 90px
    @media $PortraitMax
      height 330px
    &-overimg
      display flex
      align-items center
      justify-content center
      position relative
      width 100%
      height 100%
      padding 30px
      border 1px solid alpha(black, .05)
      cursor pointer
      user-select none
      &:before
        content ''
        display block
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        background-color rgba(#000, .18)
        opacity 0
        transition .4s opacity
        z-index 1
      &:after
        content ''
        display block
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        width 36px
        height 36px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAclBMVEUAAAA7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okc7okf///9LqlZEp1D1+/bF5Mid0aNtunb7/fve7+B7wIPd79+k1Krc7t5KqVXZ7dyGxY1ZsGOQ54H7AAAAFHRSTlMA2M767cVpRCEVCQJZyaScmaalWqfKGXsAAAEaSURBVDjLjZTbdoMgEEUBEfGapJ1RvEVN2///xbZxSQaDl/10HvZasA7DMIpWhZBBIEWhNPOSZiEQwix9dyIOK3i0UpIreLgm1Ilz8JLHxOGwAbdWksMm+XLiBXa4zE4Eu0TPfvi+xP/7yuDFYxy6bmoeQMn+JNLz3eATc3e6Z0wTB7Fuq6qtER1LM2VzabCZU4OmJJJihc0N1kuscSRSwYTNE7ZLbHEgkmDS5g6rJVbYEUmywC8ZIgVEco6bHEkeX1wycVyBYB/eMr/BqUDB+7N0OLhlalg9sPlqfnrH0uSBCWWPvbVCOyoeqyKjknK/Ndqh2x5f23508iMcf6lzn9Nawu+I+NTCOF49x0vsM2VetLrN6/DmrsNfX+JQ3RTkAM0AAAAASUVORK5CYII=') no-repeat center
        opacity 0
        transition .4s opacity
        z-index 2
      &:hover
        &:before, &:after
          opacity 1
    &-thumbs
      width 100%
      pos absolute
      left 0
      bottom 20px
      display flex
      flex-wrap wrap
      justify-content center
    &-mainimg
      max-width 100%
      max-height 100%
      user-select none
    &-thumb
      cursor pointer
      size 74px
      border-radius 50%
      background-repeat no-repeat
      background-size cover
      background-position center
      transition .7s transform, .7s box-shadow
      will-change transform
      @media $LandscapeMin
        size 44px
      @media $PortraitMedium
        size 34px
      &.active
        box-shadow 0 5px 35px rgba(0, 0, 0, 0.25)
      &:hover
        transform scale(1.2)
      & + &
        ml 20px
    &-hidden
      display none
  &__spacer
    h 41vh
    @media $desktopMedium
      dn()
  &__feats
    &-over
      bgc white
      pt 107px
      @media $desktopMin
        pt 77px
    &-title
      fontify 48px 700 60px
      text-align center
      mb 30px
      @media $lDesktopMedium
        fontify 39px 700 42px
      @media $desktopMin
        text-align left
      @media $LandscapeMedium
        fontify 31px 700 37px
    &-row
      display flex
      justify-content space-between
      @media $desktopMin
        flex-direction column
        justify-content flex-start
    &-col
      w calc(100% / 3 - 41px)
      @media $desktopMedium
        w calc(100% / 3 - 20px)
      @media $desktopMin
        w 100%
  &__itbe
    bgc white
    pt 112px
    @media $desktopMin
      dn()
    &-styled
      pos relative
      z-index 1
      size 0
      margin 0 auto
    &-row
      display flex
      ml -62px
      w calc(100% + 62px)
    &-col
      ml 62px
      w calc(100% / 3)
      &_col2
        w calc(200% / 3)
        @media $desktopMin
          w 100%
      &:not(&_col2)
        @media $desktopMin
          dn()
    &-sideimg
      max-width 100%
      margin 32px auto 0
    &-info
      display flex
      flex-direction column
      align-items flex-start
      .common__row
        @media $desktopMedium
          flex-direction column
      .common__col
        @media $desktopMedium
          w 100%
    &-img
      max-width 100%
      mb 38px
      @media $desktopMedium
        max-width 90%
    &-title
      fontify 48px 700 54px
      mt -2px
      @media $lDesktopMedium
        fontify 31px 700 37px
      @media $desktopMedium
        mt 0
        mb 10px
      @media $LandscapeMedium
        fontify 26px 700 30px
        mb 0
    &-text
      fontify 17px 400 26px
      max-width 390px
      @media $lDesktopMedium
        fontify 15px 400 23px
      @media $desktopMedium
        max-width none
  &__others
    bgc white
    pt 84px
    &-title
      fontify 48px 700 54px
      text-align center
      mb 29px
      @media $lDesktopMedium
        fontify 39px 700 42px
      @media $desktopMedium
        max-width 800px
        margin 0 auto 37px
      @media $LandscapeMedium
        fontify 31px 700 37px
    &-styled
      pos relative
      z-index 1
      size 0
      margin 0 auto
    &-row
      display flex
      ml -62px
      w calc(100% + 62px)
      @media $LandscapeMedium
        flex-direction column
    &-col
      w calc(100% / 4 - 62px)
      ml 62px
      text-align center
      display flex
      flex-direction column
      align-items center
      @media $LandscapeMedium
        w calc(100% - 62px)
      & + &
        @media $LandscapeMedium
          mt 50px
    &-img
      max-width 90%
      margin 0 auto
      max-height 100%
      &over
        display flex
        align-items center
        justify-content center
        height 220px
        pos relative
        margin-bottom 33px
        t 0
        transition .7s top
        &:hover
          t -30px
    &-href
      color $red
      fontify 24px 700 19px
      border-bottom 1px solid
      transition .7s border
      @media $lDesktopMedium
        fontify 21px 700 19px
      &:hover
        border-color transparent
    &-imgover:hover + &-href
      border-color transparent
    &-subtitle
      fontify 18px 400 26px
      mt 11px
      @media $lDesktopMedium
        fontify 15px 400 23px
  &__toall
    bgc $green
    size 100% 116px
    display flex
    align-items center
    justify-content center
    pos relative
    overflow hidden
    @media $desktopMin
      h 80px
    &-over
      padding 20px
      pt 83px
      bgc white
    &-text
      color white
      fontify 24px 700 19px
      border-bottom 1px solid
      transition .7s border
      @media $lDesktopMedium
        fontify 21px 700 19px
    &:hover &-text
      border-color transparent
    &-dish1
      pos absolute
      b -50px
      l -30px
      z-index 1
      background url('../i/toall-dish1.png') no-repeat center
      size 163px 118px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $PortraitMax
        dn()
    &-dish2
      pos absolute
      t -68px
      r 105px
      z-index 1
      background url('../i/toall-dish2.png') no-repeat center
      size 158px 137px
      opacity 0
      transition .7s opacity, .7s top
      @media $desktopMedium
        r -30px
      @media $PortraitMax
        dn()
    &-dish3
      pos absolute
      t -84px
      l 25%
      z-index 1
      background url('../i/toall-dish3.png') no-repeat center
      size 195px 191px
      opacity 0
      transition .7s opacity, .7s top
      @media $desktopMedium
        dn()
    &:hover &-dish1
      b -30px
      opacity 1
    &:hover &-dish2
      t -48px
      opacity 1
    &:hover &-dish3
      t -64px
      opacity 1

  &__text
    margin-top 47px
    color black
    font-size 24px
    font-weight 400
    line-height 32px
    @media $desktopMin
      margin-top 30px
      font-size 20px
      line-height 26px