.collections
  display flex
  align-items flex-start
  justify-content flex-start
  &__main
    w calc(100% - 302px)
    ml 62px
    mt -12px
    @media $desktopMedium
      ml 0
      w 100%
      mt 0
    .breadcrumbs
      pl 0
      mt -29px
      mb 45px
  &__list
    display flex
    align-items flex-start
    justify-content flex-start
    flex-wrap wrap
    ml -33px
    w calc(100% + 33px)
    mb -33px
    @media $lDesktopMedium
      ml -22px
      w calc(100% + 22px)
      mb -22px
  &__item
    &:not(&_elem)
      border 1px solid #f2f2f2
      padding 36px 29px
      transition .7s background, .7s border
      h 415px
    w calc(100% / 3 - 33px)
    pos relative
    ml 33px
    mb 33px
    overflow hidden
    &_elem
      text-align center
      padding 0 30px
      &:not(:last-child)
        pb 28px
    @media $lDesktopMedium
      ml 22px
      mb 22px
    @media $lDesktopSmall
      w calc(50% - 22px)
    @media $LandscapeMedium
      w calc(100% - 22px)
    &:not(&_elem):hover
      bgc $green
      border-color $green
    &-href
      color black
      fontify 24px 700 28px
      border-bottom 1px solid black
      transition .7s border-color, .7s color
      ^[-1]:hover &
        color white
        border-color alpha(white, 0)
    &-img
      pos absolute
      r -15px
      b -15px
      max-width 90%
      max-height 90%
  &__elem
    &-img
      max-width 90%
      margin 0 auto
      max-height 100%
    &-imgover
      display flex
      align-items center
      justify-content center
      height 220px
      pos relative
      margin-bottom 33px
      t 0
      transition .7s top
      &:hover
        t -30px
    &-href
      color $red
      fontify 24px 700 19px
      border-bottom 1px solid
      transition .7s border
      @media $lDesktopMedium
        fontify 21px 700 19px
      &:hover
        border-color transparent
    &-imgover:hover + &-href
      border-color transparent
    &-subtitle
      fontify 18px 400 26px
      mt 14px
      @media $lDesktopMedium
        fontify 15px 400 23px
