.where
  &__subtitle
    fontify 30px 400 38px
    max-width 620px
    text-align center
    margin -17px auto 40px
    @media $lDesktopSmall
      fontify 21px 400 29px
      max-width 540px
      mt -20px
    @media $PortraitMax
      fontify 15px 400 23px
  &__logo
    &-list
      ml -20px
      w calc(100% + 20px)
      display flex
      flex-wrap wrap
      mb 71px
    &-item
      pos relative
      display flex
      justify-content center
      align-items center
      w calc(25% - 20px)
      ml 20px
      mb 20px
      pt calc(25% - 22px)
      border 1px solid alpha(black, .05)
      @media $desktopMax
        w calc(100% / 3 - 20px)
        pt calc(100% / 3 - 22px)
      @media $LandscapeMax
        w calc(50% - 20px)
        pt calc(50% - 22px)
      @media $LandscapeMin
        w calc(100% - 20px)
        pt calc(100% - 22px)
    &-img
      imgCenteringMax90()
  &__adresses
    &-title
      fontify 48px 700 54px
      mb 42px
      text-align center
      @media $lDesktopMedium
        fontify 39px 700 44px
      @media $lDesktopSmall
        mb 34px
      @media $LandscapeMedium
        fontify 30px 700 34px
    &-cols
      display flex
      flex-wrap wrap
      ml -60px
      w calc(100% + 60px)
    &-col
      w calc(100% / 3 - 60px)
      ml 60px
      mb 90px
      //@media $LandscapeMax
      @media $LandscapeMin
        w calc(100% - 60px)
      &.hidden
        dn()
    &-town
      fontify 24px 700 28px
      pb 13px
      border-bottom 1px solid alpha(black, .05)
      mb 34px
      @media $lDesktopSmall
        fontify 21px 700 23px
        pb 16px
    &-more
      text-align center
      mt -48px
      mb 20px
  &__magazines
    & + &
      mt 26px
      @media $lDesktopMedium
        mt 28px
    &-name
      fontify 18px 700 26px
      mb 11px
      @media $lDesktopMedium
        fontify 15px 700 23px
    &-item
      db()
      pos relative
      pl 27px
      fontify 18px 400 26px
      @media $lDesktopMedium
        fontify 15px 400 23px
      &:before
        content ""
        pos absolute
        l 0
        t 6px
        size 12px 14px
        background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAMAAAAsYw3eAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAclBMVEXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCXrHCX////8scGEAAAAJHRSTlMAAmDD8g+9vgG2T/luEhFQsW93tO3p+uZ25KqlQjyZBZtLqRSjiG85AAAAAWJLR0QlwwHJDwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAG5JREFUCNdFjFkWgkAQA8MmIAy4o6gsUvc/o9M4av108l66JEVxkqZJHMmTbVjJM6koCZSFtlDVrqkraLWDva0PcNQJnBUHZ/EvF3VhdoWbehM0q+CuBz+e0vDNgx+P0ydPo71q9pJuVsC9+sXuG25TDTRiSDyQAAAAAElFTkSuQmCC") no-repeat center
      & + &
        mt 12px
    

.contacts
  &__subtitle
    max-width 710px
    margin -17px auto 0
    text-align center
    fontify 18px 400 26px
    span
      color $red
  &__form
    max-width 960px
    margin 40px auto 0
  &__row
    &_flex
      display flex
      align-items flex-start
      justify-content space-between
      @media $LandscapeMax
        flex-direction column
    &_center
      text-align center
      /*@media $PortraitMax
        text-align left*/
    & + &
      mt 38px
      @media $lDesktopSmall
        mt 18px
  &__col
    w calc(50% - 31px)
    @media $lDesktopSmall
      w calc(50% - 21px)
    @media $LandscapeMax
      w 100%
      & + &
        mt 18px
  &__label
    db()
    fontify 14px 400 17px
    mb 7px
    span
      color $red
      @media $PortraitMedium
        font-size 22px
  &__input
    width 100%
    h 47px
    border 1px solid alpha(black, 0.1)
    padding 0 25px
    font-size 18px
    font-weight 400
    border-radius 0
    transition .7s border-color
    &--captcha
      width auto
      vertical-align top
      @media $LandscapeMin
        width 180px
    &:focus
      border-color rgba(0,0,0,0.4)
    @media $lDesktopSmall
      font-size 16px
    &.warning
      border-color $red
  &__textarea
    width 100%
    h 97px
    border 1px solid alpha(black, 0.1)
    padding 10px 25px
    font-size 18px
    font-weight 400
    line-height 24px
    border-radius 0
    resize none
    overflow hidden
    transition .7s border-color
    &:focus
      border-color rgba(0,0,0,0.4)
    @media $lDesktopSmall
      font-size 16px
      line-height 22px
    &.warning
      border-color $red
  &__btn
    mt 11px
    @media $LandscapeMax
      mt 0
  &__error
    text-align center
    max-width 710px
    margin 30px auto 0
    fontify 18px 400 26px
    color $red