.footer
  margin 20px
  display flex
  justify-content space-between
  align-items center
  &__copy
    color inherit
    fontify 12px 700 21px
  &__dextra
    color silver
    font-family Verdana, Geneva, sans-serif
    fontify 9px 400 14px
    text-transform uppercase
    letter-spacing .18em
    pos relative
    @media $PortraitMedium
      ml 85px
      mt 10px
    span
      pos absolute
      t 2px
      r calc(100% + 10px)
      bgc rgba(0, 0, 0, .2)
      color white
      font-family Arial
      fontify 12px 900 21px
      text-transform uppercase
      letter-spacing .1em
      padding 0 6px
      border-radius 3px
      transition .7s background
    &:hover span
      bgc $green
  
.progress
  h 6px
  pos fixed
  z-index 12
  t 0
  l 0
  w 0
  bgc $green
  transition .5s width

.locker
  dn()
  pos fixed
  justify-content center
  align-items center
  flex-direction column
  t 0
  l 0
  r 0
  b 0
  padding 20px
  z-index 99
  bgc white
  &__text
    color $dark
    fontify 16px 400 22px
    mt 10px
    
html.lock 
  .locker
    display flex
  .content
    opacity 0