.header
  pos fixed
  w 100%
  max-width 840px
  t 0
  l 50%
  bgc white
  padding 28px 9px 28px 0
  z-index 11
  display flex
  justify-content space-between
  align-items flex-start
  transform translateX(-50%)
  @media $desktopMin
    max-width none
    padding 28px 30px
    box-shadow 0 5px 35px rgba(0, 0, 0, 0.25)
  @media $LandscapeMax
    padding 18px 30px
    align-items center
  @media $LandscapeMedium
    padding 18px 20px
  &__shadow
    pos absolute
    t 100%
    l 0
    size 100% 36px
    background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAkCAMAAACDv4v0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAeFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///8Vdm6aAAAAJ3RSTlMmJyQlIiMhHyAdHhwaGxgZFxUWFBITERAODw0MCwoJCAcGBQQDAgGpDWmSAAAAAWJLR0QnLQ+oIwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAH9JREFUGNN9x9EagUAUAOEpS0KxLLIlJbz/I9pzdj/d+a9mQGRZRp4vFGapclbCGENRFGtBWW4U24SdqKqKut4rDlGNtfYoOEUW586Ki3DOcU1obhHe+0bQBmE8nWpb7lFHH915qL5nCCQZx0GFiHgmTOoX08QrmeOdzPFJ/sQXtaEbbITspccAAAAASUVORK5CYII=") repeat-x top center
    @media $desktopMin
      dn()
  &:before
    content ""
    pos absolute
    l -123px
    t 0
    background url('../i/header-aside.png') no-repeat center
    size 123px 127px
    @media $desktopMin
      dn()
  &:after
    content ""
    pos absolute
    r -115px
    t 0
    background url('../i/header-aside.png') no-repeat top right
    size 115px 127px
    transform: scaleX(-1)
    @media $desktopMin
      dn()
  &__logo
    l 0
    pos relative
    transition .7s opacity, .7s visibility, 0s left
    @media $PortraitMedium
      margin-left -5px
  &__menu
    mt -2px
    @media $LandscapeMax
      dn()
    &-list
      display flex
    &-item
      pos relative
      & + &
        ml 28px
        @media $desktopMax
          ml 19px
    &-href
      ib()
      color black
      fontify 16px 700 16px
      pos relative
      transition .7s color
      &:not(&_red):hover,
      &:not(&_red).active
        color $red
      &:not(&_red)
        mt 12px
        @media $desktopMin
          mt 14px
      @media $desktopMin
        fontify 14px 700 14px
      &_red
        ib()
        mt 2px
        ml 77px
        bgc $red
        border-radius 19px
        color white
        outline none
        cursor pointer
        fontify 16px 700 36px
        padding 0 30px
        transition .7s background
        @media $desktopMax
          ml 99px
        @media $desktopMin
          fontify 14px 700 36px
          ml 0
        &:hover
          bgc $green
          color white
    &-sublist
      @media $LandscapeMaxFrom
        padding 15px 0
        visibility hidden
        opacity 0
        pos absolute
        t 28px
        l -30px
        bgc white
        box-shadow 0 3px 34.3px 0.7px rgba(112, 118, 126, 0.15)
        transition .3s visibility, .3s opacity, .3s top
        ^[-1]-item:hover &
          t 38px
          opacity 1
          visibility visible
      @media $LandscapeMax
        mt 14px
        dfv()
        &:before
          content ""
          pos absolute
          l 0
          t -21px
          h 21px
          w 100%
      &-item
        @media $LandscapeMax
          & + &
            mt 10px
      &-href
        db()
        pos relative
        color black
        fontify 16px 700 20px
        transition .7s background, .7s color
        @media $desktopMin
          fontify 14px 700 20px
        @media $LandscapeMaxFrom
          padding 9px 30px
          &:hover,
          &_active
            bgc $red
            color white
        @media $LandscapeMax
          fontify 23px 400 30px
          &_active
            color $red
.burger
  &__bg
    pos absolute
    l  50%
    t 50%
    transform translate(-50%, -50%) scale(1.06)
    transition 1s transform
    will-change transform
    opacity .5
    @media $desktopMin
      dn()
  &__button
    dn()
    cursor pointer
    w 25px
    h 25px
    pos relative
    @media $LandscapeMax
      db()
    &:before
      content ""
      pos absolute
      t 0
      r 0
      w 25px
      h 2px
      bgc $red
      transition .5s width, .5s background, .5s transform, .5s top
    &:after
      content ""
      pos absolute
      b 0
      r 0
      w 25px
      h 2px
      bgc $red
      transition .5s width, .5s background, .5s transform, .5s top  
    &-meat
      content ""
      pos absolute
      t 50%
      r 0
      w 25px
      h 2px
      mt -1px
      bgc $red
      transition .5s width, .5s background, .5s transform, .5s top  
    &:not(.open):hover
      &:before
        animation burger-hover 1s infinite ease-in-out alternate
      &:after
        animation burger-hover 1s infinite ease-in-out alternate forwards 400ms
    &:not(.open):hover &-meat
      animation burger-hover 1s infinite ease-in-out alternate forwards 200ms
    &.open
      &:before
        animation burger-top 1s ease-in-out forwards
      &:after
        animation burger-bottom 1s ease-in-out forwards
      & ^[-1]-meat
        opacity 0
    &.open.remove
      &:before
        animation burger-top-invert 1s ease-in-out forwards
      &:after
        animation burger-bottom-invert 1s ease-in-out forwards
      & ^[-1]-meat
        opacity 1
        transition .4s opacity .6s
  &__popup
    visibility hidden
    opacity 0
    pos fixed
    t 0 
    l 0
    w 100vw
    h 100vh
    pl 30px
    pb 30px
    pr 30px
    @media $LandscapeMedium
      pl 20px
      pb 20px
      pr 20px
    z-index 9
    overflow auto
    background white
    display flex
    align-items center
    justify-content flex-start
    transition .7s visibility, .7s opacity
  &__menu
    &-list
      display flex
      flex-direction column
      pos relative
      opacity 0
      b -20px
      transition .7s bottom, .7s opacity
    &-item
      & + &
        mt 20px
      &_mobile
        @media (min-width:651px)
          dn()
          & + .burger__menu-item
            mt 0
    &-href
      color black
      fontify 36px 400 48px
      pos relative
      l 0
      transition .7s color, .7s left
      &.active
        color $red
      &_red
        fontify 36px 400 48px
        bgc $red
        border-radius 24px
        color white
        padding 0 15px
        ib()
        @media $LandscapeMax
          padding 3px 54px 5px
          border-radius 30px
    &-sublist
      mt 14px
      dfv()
      &:before
        content ""
        pos absolute
        l 0
        t -21px
        h 21px
        w 100%
      &-item
        & + &
          mt 10px
      &-href
        db()
        pos relative
        color black
        fontify 23px 400 30px
        transition .7s background, .7s color
        &_active
          color $red
        

@keyframes burger-hover
  0%
    w 100%
  50%
    w 50%
  100%
    w 100%
      
@keyframes burger-top
  0%
    t 0
  40%
    t 11px
  60%
    t 11px
    transform rotate(0)
  100%
    t 11px
    transform rotate(45deg)
    
@keyframes burger-bottom
  0%
    b 0
  40%
    b 12px
  60%
    b 12px
    transform rotate(0)
  100%
    b 12px
    transform rotate(-45deg)

@keyframes burger-top-invert
  0%
    t 12px
    transform rotate(45deg)
  40%
    t 12px
    transform rotate(0)
  60%
    t 12px
  100%
    t 0
    
@keyframes burger-bottom-invert
  0%
    b 12px
    transform rotate(-45deg)
  40%
    b 12px
    transform rotate(0)
  60%
    b 12px
  100%
    b 0
        
html.burgeropen
  overflow hidden
  pos fixed
  body
    overflow hidden
    pos fixed
  .header
    box-shadow none
  .burger
    &__popup
      visibility visible
      opacity 1
      text-align center
      display flex
      justify-content center
      @media $LandscapeMedium
        pt 150px
      @media $desktopMin
        pt 70px
    &__bg
      transform translate(-50%, -50%) scale(1)
    &__menu
      &-list
        opacity 1
        b 0
        transition-delay .8s
    
html.touchevents
  .burger__button
    &:not(.open):hover
      &:before
        animation none
      &:after
        animation none
    &:not(.open):hover .burger__button-meat
      animation none