html,
body
  font-family $os
body
  overflow-x hidden
  &:not(.pace-done)
    overflow hidden
  &
    .header,
    .content,
    .footer,
    .swiper-buttons
      opacity 0
      transition .7s opacity
    .content
      z-index -5
      pos relative
      transition-delay 0.3s
    .header,
    .footer,
    .swiper-buttons
      transition-delay 0.8s
  &.pace-done
    .header,
    .content,
    .footer,
    .swiper-buttons
      opacity 1
    .content
      z-index auto
    .pace
      dn()
      
.container
  w 100%
  max-width 1600px
  margin 0 auto
  &_center
    text-align center
  @media $lDesktopMax
    max-width 1400px
  @media $lDesktopMedium
    max-width 1250px
  @media $lDesktopSmall
    max-width 100%
    padding 0 60px
  @media $desktopMedium
    padding 0 30px
  @media $LandscapeMedium
    padding 0 20px
  &_text
    max-width 800px
    
.content
  &_bgfixed
    background-attachment fixed
    background-repeat no-repeat
    background-size cover
    background-position center
    @media $desktopMedium
      background white !important
    & + .footer
      margin-top 0 !important
  @media $LandscapeMax
    pt 71px
  h1:not([class])
    color black
    fontify 72px 700 76px
    margin 63px 0 35px
    @media $lDesktopMedium
      fontify 60px 700 64px
    @media $desktopMin
      fontify 52px 700 56px
    @media $LandscapeMedium
      fontify 42px 700 46px
  h2:not([class])
    color black
    fontify 48px 700 54px
    margin 63px 0 28px
    @media $lDesktopMedium
      fontify 39px 700 44px
    @media $LandscapeMedium
      fontify 30px 700 34px
      margin 45px 0 28px
  h3:not([class])
    color $dark
    fontify 36px 700 42px
    margin 65px 0 38px
    @media $lDesktopMedium
      fontify 31px 700 37px
    @media $LandscapeMedium
      fontify 26px 700 34px
      margin 45px 0 28px
  h4:not([class])
    color $dark
    fontify 24px 700 34px
    margin 43px 0 16px
    @media $lDesktopMedium
      fontify 21px 700 27px
  img:not([class])
    margin 5px 0
    max-width 100%
  ul:not([class])
    list-style  none
    margin  23px 0
  ul:not([class]) li
    pl 30px
    pos relative
    fontify 20px 400 27px
    @media $lDesktopSmall
      fontify 17px 400 24px
  ul:not([class]) li + li
    mt 25px
  ul:not([class]) li:before
    content ""
    pos absolute
    l 0
    t 13px
    size 14px 1px
    bgc $green
  ol:not([class])
    list-style none
    margin 23px 0
    counter-reset myCounter
  ol:not([class]) li
    pl 30px
    pos relative
    fontify 18px 400 24px
    @media $lDesktopMedium
      fontify 15px 400 23px
  ol:not([class]) li + li
    mt 24px
  ol:not([class]) li:before
    counter-increment myCounter
    content counter(myCounter)"."	
    pos absolute
    l 0
    t 0
    w 30px
    pr 9px
    color $green
    fontify 18px 400 24px
    @media $lDesktopMedium
      fontify 15px 400 23px
  p:not([class])
    color black
    fontify 18px 400 24px
    margin 21px 0
    @media $lDesktopMedium
      fontify 15px 400 23px
  a:not([class])
    color $red
    border-bottom 1px solid currentColor
    transition .5s border
    &:hover
      border-color transparent
 
  *:not([class]):not(span):first-child
    mt 0 !important
  *:not([class]):not(span):last-child
    margin-bottom 0 !important

  table
    margin 30px 0
    border 2px solid $green
  table th
    text-align left
    padding 16px 24px
    color black
    fontify 15px 400 21px
    border 1px solid #f0f3e1
  table td
    padding 18px 24px
    color $dark
    fontify 15px 400 21px
    border 1px solid #f0f3e1

input::-webkit-input-placeholder
  color alpha(white, .5)
input::-moz-placeholder
  color alpha(white, .5)
input:-ms-input-placeholder
  color alpha(white, .5)

body:not(.index) .content
  pt 150px
  
div[class\^="table-scroller"]
  overflow auto
  pos relative
  @media $desktopMax
    w 100%

.btn
  ib()
  bgc $green
  border 0
  border-radius 19px
  color white
  outline none
  cursor pointer
  fontify 18px 700 46px
  padding 0 35px
  transition .7s background
  @media $lDesktopMedium
    fontify 16px 700 36px
  &:hover
    bgc $red
    
.common
  &__title 
    color black
    fontify 90px 700 82px
    @media $lDesktopSmall
      fontify 60px 700 50px
    @media $desktopMin
      fontify 52px 700 50px
    @media $LandscapeMedium
      fontify 32px 700 32px
  &__subtitle
    color black
    font-family $handy
    fontify 90px 400 71px
    text-align right
    mt 2px
    @media $lDesktopSmall
      fontify 60px 400 43px
    @media $desktopMin
      fontify 52px 400 40px
    @media $LandscapeMax
      text-align inherit
    @media $LandscapeMedium
      fontify 32px 400 30px
  &__input
    w 100%
    h 48px
    border 0
    border-bottom 1px solid white
    bgc transparent
    color black
    font-family $os
    font-size 17px
    line-height 400
    transition .5s border
    @media $lDesktopSmall
      font-size 14px
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      dn()
  &__textarea
    w 100%
    h 116px
    overflow hidden
    resize none
    padding 11px 18px
    border 2px solid #ececec
    bgc transparent
    color $dark
    font-family $os
    fontify 14px 400 24px
    transition .5s border
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      dn()
  &__sbm
    font-family $os
    mt 5px
  &__select
    h 36px
    bgc #fff
    border 2px solid #b6b6b6
    w auto
    cursor pointer
    transition .5s border
    &.warning
      border-color #ed1c24
  &__placeholder
    pos absolute
    z-index -1
    l 0 
    t 0
    color white
    fontify 14px 700 50px
    letter-spacing .1em
    text-transform uppercase
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    max-width 100%
    @media $lDesktopSmall
      fontify 12px 700 50px
    span
      fontify 23px 400 50px
      pos relative
      t 0
  &__col
    w calc(50% - 30px)
    &_wide
      w calc(100% - 212px)
    &_short
      w 162px
    @media $LandscapeMedium
      w 100%
      & + &
        mt 22px
  &__row
    display flex
    justify-content space-between
    pos relative
    w 100%
    @media $LandscapeMedium
      flex-direction column
    & + &
      mt 32px
      @media $LandscapeMedium
        mt 22px
  &__fileover
    w 100%
    pos relative
    pt 14px
    pb 14px
    border-bottom 1px solid white
    transition .5s border
    &.warning
      border-color #ed1c24
    & + &
      mt 20px
  &__file
    pos absolute
    w 0
    h 0
    l 0
    t 0
    opacity 0
    &name
      ib()
      pos relative
      l 26px
      cursor pointer
      color white
      fontify 14px 700 14px
      letter-spacing .1em
      text-transform uppercase
      border-bottom 1px solid alpha(white, .25)
      transition .5s border
      @media $lDesktopSmall
        font-size 12px
      &.choosed,
      &:hover
        border-color transparent
      &:after
        content "*"
        pos absolute
        r -11px
        fontify 23px 400 14px
        t -3px
      &:before
        content ""
        pos absolute
        l -24px
        t 3px
        size 16px 8px
        background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAMAAADHqI+lAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAe1BMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////QYBnOAAAAKHRSTlMAFJLi/uaFBRrhukMXERM+1IeisgE0t8xM8EeJRFvnRmnsaKQ1uVUVNSas3QAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABYSURBVAjXRc1ZEkAwEATQJvZ9jxC74P4nRATvr6eqewBNJ8ahmJYNx/X8IHxEcZIiywuUFZWAmoE1AGm5BHQ92PAf+DjNWK7KqipUbLhGxTcKadfJ+/WOJ3rfCXxQ+WZgAAAAAElFTkSuQmCC") no-repeat center
      &.choosed + ^[-1]delete
        visibility visible
        cursor pointer
      &.choosed:after
        content ""
    &delete
      ib()
      visibility hidden
      mt 3px
      ml 32px
      size 9px
      background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAKlBMVEX///////////////////////////////////////////////////////9q+00tAAAADXRSTlMA0Do74eI5bGtqOM7MEv0urwAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAA3SURBVAjXYxBiYGAWYFBRYDBNYGByYg5jYGBQLU0Akhw3GUDsKQoMDExRTE4MDKYLQMp2AbkHAKcGB4WerKhTAAAAAElFTkSuQmCC") no-repeat center
      
.fakecheckbox
  ib()
  pos relative
  margin 10px 0
  &__label
    ib()
    color black
    fontify 14px 400 24px
    pos relative
    pl 37px
    pt 7px
    &:before 
      content ""
      pos absolute
      l 0px
      t 8px
      size 20px
      border 1px solid #ececec
      cursor pointer
      transition .5s border
    &:after
      content ""
      pos absolute
      size 16px 13px
      background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANBAMAAABSlfMXAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEX///////////////////////////////////8HBRbfAAAACHRSTlMAAyio8Dc4NlLA1+AAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAOUlEQVQI12NgAANGBQjNIOwKFbCAMoRbArAIMAlABUIMoSpSmgUhKlg9jKFaQjqgWlhdAqDGl4JJAP/cCjh7XMPDAAAAAElFTkSuQmCC") no-repeat center
      l 4px
      t 13px
      opacity 0
      cursor pointer
      transition .5s opacity
  &__truecheck
    pos absolute
    l 0
    t 0
    w 0
    h 0
    border 0
    opacity 0
    &:checked + ^[0]__label:after
      opacity 1
    &.warning + ^[0]__label:before 
      border-color #ed1c24
    
.totop
  pos fixed
  z-index 5
  b 20px
  r 20px
  cursor pointer
  size 44px
  border-radius 50%
  box-shadow 0 6px 19px rgba(0, 0, 0, 0.12)
  visibility hidden
  opacity 0
  background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKBAMAAABLZROSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAMFBMVEX///////////////////////////////////////////////////////////////9Or7hAAAAAD3RSTlMAPTz08p6hA6DzCennlZZZY9tOAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAEhJREFUCNdjYAACIQYoYDRRgLKE/ztBhezDvkAEhb+W5ztBhMIZysCCwl8LGNhBgiAhBoaKnwoMq4FCDAzs/acYGK+DtdUpAACFthD1OC0MSwAAAABJRU5ErkJggg==") no-repeat center #e76f17
  transition .5s visible, .5s box-shadow, .5s opacity
  &:hover
    box-shadow none
  &.visible
    visibility visible
    opacity 1
      
.breadcrumbs
  mb 55px
  color $grey
  pos relative
  mt -25px
  pl 13px
  &__href
    color $grey
    fontify 14px 400 18px
    border-bottom 1px solid $grey
    transition .5s border
    &:hover
      border-color transparent
    @media $lDesktopMedium
      fontify 12px 400 18px
  &__delim
    padding 0 11px
    fontify 14px 400 18px
    @media $lDesktopMedium
      fontify 12px 400 18px

input.warning,
textarea.warning
  border-color $red

.hidden-block
  display none
  
.tippy-tooltip.light-theme
  bgc white
  box-shadow 0 6px 32px rgba(0, 0, 0, 0.21)
  fontif 14px 400 18px
  color $dark
  padding 15px 19px
  .tippy-backdrop
    bgc white
    color $dark
  .tippy-arrow
    border-top-color white
    
.tomato
  position absolute
  size 81px
  background url('../i/tomato.png') no-repeat center
  @media $desktopMedium
    dn()
  &_elem1
    r 118px
    b 41px
  &_elem2
    l -570px
    t -100px
  &_elem3
    l 100px
    b 100px
    @media $desktopMax
      dn()
  &_fixed
    pos fixed
    l 70px
    t 20vh

.veg
  position absolute
  size 152px 184px
  background url('../i/veg.png') no-repeat center
  @media $desktopMedium
    dn()
  &_elem1
    r -622px
    t -96px
  &_elem2
    t 0
    l -860px
    @media $lDesktopMedium
      l -660px
  &_elem3
    t -31px
    l 60px
  &_fixed
    pos fixed
    r 70px
    t 40vh
    
.pasta
  position absolute
  size 98px
  background url('../i/pasta1.png') no-repeat center
  @media $desktopMedium
    dn()
  &_elem1
    r 311px
    b -53px
  &_elem2
    background url('../i/pasta2.png') no-repeat center
    size 85px 110px
    l -828px
    b -483px
  &_elem3
    background url('../i/pasta2.png') no-repeat center
    size 85px 110px
    r -750px
    t 120px
    @media $lDesktopMedium
      r -550px
  &_elem4
    background url('../i/pasta2.png') no-repeat center
    size 85px 110px
    r -844px
    t -90px
    transform scaleX(-1)
  &_elem5
    background url('../i/pasta2.png') no-repeat center
    size 85px 110px
    l -830px
    t 78px
  &_fixed
    pos fixed
    l 180px
    t 80vh