@import "__vars.styl"

@import "__reset.styl"
@import "__fonts.styl"
@import "__common.styl"

@import "blocks/header.styl"
@import "blocks/index.styl"
@import "blocks/footer.styl"
@import "blocks/news.styl"
@import "blocks/contacts.styl"
@import "blocks/404.styl"
@import "blocks/features.styl"
@import "blocks/pagination.styl"

@import "__fancy.styl"
@import "__swiper.styl"
@import "__perfect-scrollbar.styl"
@import "__choices.styl"
@import "__glightbox.styl"
@import "__ion.styl"
@import "__ion.skinFlat.styl"